<div class="abriga-filtro">

  <div class="abriga-titulo">
    <h3 class="titulo">Microsoft security updates</h3>
  </div>

  <div class="abriga-input">
    <form class="form" (ngSubmit)="consultar()">
      <input id="consulta-id" class="campo-form" type="text" name="valorCampo" value="" placeholder="digite um argumento para busca" [(ngModel)]="valorCampo">
      <select id="select-id" class="campo-select" name="nomeCampo" [(ngModel)]="nomeCampo">
        <option value="" selected>selecione uma opção</option>
        <option value="id">id</option>
        <option value="alias">alias</option>
        <option value="document-title">documentTitle</option>
        <option value="severity">severity</option>
        <option value="initial-release-date">initialReleaseDate</option>
        <option value="current-release-date">currentReleaseDate</option>
        <option value="cvrfurl">cvrfUrl</option>
      </select>
      <button type="submit">pesquisar</button>
    </form>
  </div>

  <div class="abriga-tabela">
    <table>
      <thead>
      <th>id</th>
      <th>alias</th>
      <th>documentTitle</th>
      <th>severity</th>
      <th>initialReleaseDate</th>
      <th>currentReleaseDate</th>
      <th>cvrfUrl</th>
      </thead>
      <tbody>
        <tr *ngFor="let update of updates">
          <td>{{update.ID}}</td>
          <td>{{update.Alias}}</td>
          <td>{{update.DocumentTitle}}</td>
          <td>{{update.Severity}}</td>
          <td>{{update.InitialReleaseDate}}</td>
          <td>{{update.CurrentReleaseDate}}</td>
          <td>{{update.CvrfUrl}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
