.abriga-filtro{

  width: 100%;
  margin: 30px auto;
  padding: 30px;
  background-color: #FAFAFA;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);

  display: flex;
  flex-direction: column;
  align-items: center;

}

.abriga-filtro .abriga-titulo{
  display: flex;
  padding-bottom: .3em;
}

.abriga-filtro .abriga-titulo h3{
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: .3em;
  color: #252aff;
}

.briga-tabela{
  width: 100%;
  display: flex;
  justify-content: center;
}

table{
  width: 100%;
  padding: 5px;
}

th{
  text-align: center;
  padding: 5px 10px;
  background-color: #252aff;
  color: white;
}

td{
  padding: 15px;
  background-color: white;
}

tr{
  padding: 10px;
}

form{
  width: 100%;
  display: flex;
  align-items: center;
}

input,select{
  width: 60%;
  padding: 8px 5px;
}

button{
  width: 20%;
  padding: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
