:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
  margin: 0;
}

.main-site{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container-site{
  width: 100%;
  max-width: 1144px;
  display: flex;

}

/* header */
.header{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252aff;
  margin: 0;
  padding: 0;
}

.header .abriga-titulo{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header h1{
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: .3em;
  color: white;
}

.header h2{
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: .3em;
  color: white;
}


.section-principal{
   width: 100%;
  display: flex;
  justify-content: center;
}

.section-principal .container-site{
  display: flex;
  justify-content: center;
  align-items: center;
}



