<main id="main-site" class="main-site">

  <header class="header">
      <div class="container-site">
        <div class="abriga-titulo">
          <h1 class="titulo">SEPLAG/COTEC</h1>
          <h2 class="sub-titulo">Desafio para seleção de desenvolvedor Java</h2>
        </div>
      </div>
  </header>

  <section class="section-principal">
      <app-filtra-dados class="container-site"></app-filtra-dados>
  </section>

  <footer class="footer">
      <div class="container-site">
          <p class="descricao">Interface visual para cosumir api de dados do Microsoft security update</p>
      </div>
  </footer>

</main>
